<h2>Editing Book</h2>
<%= form_for(@book,url:"/new/#{@book.id}") do |f| %>

	<h5>title</h5>
	<%= f.text_field :title %>

	<h5>Body</h5>
	<%= f.text_area :body %>

	<br>

	<%= f.submit 'Update Book' %>

<% end %>

<%= link_to 'Show', "/new/#{@book.id}" %>
|
<%= link_to "Back", "/new" %>
