<body>
	<h1>Editing Book</h1>
	<%= form_for(@book,url:"/new/#{@book.id}") do |f| %>

	<div class="field">
		<label for="book-title">title</label>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<label for="book-body">Body</label>
		<%= f.text_area :body %>
	</div>
	<div class="actions">
		<%= f.submit 'Update Book' %>
	</div>

	<% end %>

	<%= link_to 'Show', "/new/#{@book.id}" %>
	|
	<%= link_to "Back", "/new" %>
</body>