<h2 class="main-title">Books</h2>
<h6 class="contents-title">Title</h6>
<h6 class="contents-text">Body</h6>

<% @books.each do |book| %>
<spam><%= book.title  %></spam>
<span><%= link_to 'Show', "new/#{book.id}" %></span>
<span><%= link_to 'Edit', "new/#{book.id}/edit" %></span>
<span><%= link_to 'Destroy', "new/#{book.id}", method: :delete, "data-confirm" => "Are you sure?" %></span>
<br>
<% end %>

<h3 class="post-title">New book</h3>

<%= form_for(@book,url:'/new') do |f| %>

	<h5>title</h5>
	<%= f.text_field :title %>

	<h5>Body</h5>
	<%= f.text_area :body %>
	<br>
	<%= f.submit 'Create Book' %>

<% end %>